

<% @tickets.each do |ticket| %>
  <div>
    <a href="/ticket/<%= ticket['id'] %>">
      <%= ticket['id'] %> 
      <%= ticket['subject'] %>
      <%= ticket['status'] %>
      <%= ticket['type'] %>
      <%= @users[ticket['requester_id']] %>
      <%= @users[ticket['assignee_id']] %>

    </a>
  </div>
<% end %>

<a href="/tickets/prev_page">Prev</a>

<a href="/tickets/next_page">Next</a>
